body {
    margin: 0; 
    padding: 0;
    background-image: url("Untitled.png");
    background-size: 200px;
    background-color: #390202;
    background-repeat: repeat;
    background-attachment: fixed;
}
body::after {
    content: '';
    width: 100%;
    height: 100%;
    background-image: radial-gradient(circle at center, rgba(0, 0, 0,0) 0, rgba(0, 0, 0,30) 150%);
    background-attachment: fixed;
    position: fixed;
    z-index: -1;
    top:0;
}
p {
    z-index: 3;
    margin: 0;
    padding: 0;
    text-align: center;
    color:white;
    text-shadow: 0px 0px 5px black;

}
.Box {
    
    font-size: 15px;
    border: 1px solid white;
    display: grid;
	align-items: center;
    width: 70px;
    height: 70px;
    background-color: rgb(34, 34, 34);
}

.Box0 {
    position: relative;
    z-index: 3;
    font-size: 15px;
    border: 1px solid white;
    display: grid;
	align-items: center;
    width: 70px;
    height: 70px;
    background-image: radial-gradient(circle at center, rgb(20, 202, 20) 0, rgb(34, 165, 34) 110%);
}

.Box1 {
    position: relative;
    z-index: 3;
    font-size: 15px;
    border: 1px solid white;
    display: grid;
	align-items: center;
    width: 70px;
    height: 70px;
    background-image: radial-gradient(circle at center, rgb(238, 157, 43) 0, rgb(230, 154, 67) 110%);
}

.Box2 {
    position: relative;
    z-index: 3;
    font-size: 15px;
    border: 1px solid white;
    display: grid;
	align-items: center;
    width: 70px;
    height: 70px;
    background-image: radial-gradient(circle at center, rgb(209, 31, 31) 0, rgb(194, 43, 43) 110%);
}

.ArrowDown {
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    clip-path: polygon(97% 60%,80% 60%,80% 5%,20% 5%,20% 60%,3% 60%,50% 95%);
    -webkit-clip-path: polygon(97% 60%,80% 60%,80% 5%,20% 5%,20% 60%,3% 60%,50% 95%);
    height: 100%;
    background: rgba(0,0,0,.5);
    content: "";
    opacity: 1;
}
.ArrowUp {
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    clip-path: polygon(97% 40%,80% 40%,80% 95%,20% 95%,20% 40%,3% 40%,50% 5%);
    -webkit-clip-path: polygon(97% 40%,80% 40%,80% 95%,20% 95%,20% 40%,3% 40%,50% 5%);
    height: 100%;
    background: rgba(0,0,0,.5);
    content: "";
    opacity: 1;
}
#Categories {
    width: fit-content;
    display: flex;
    column-gap: 10px;
    height: fit-content;
    margin: 30px 0px 10px;
}
.Category {
    border-bottom: 2px solid white;
    text-align: center;
    width: 72px;
    font-size: 12px;
}
.wrapper {
    display: flex;
    column-gap: 10px;
    height: 80px;
    width:  fit-content;
}
#logo {
    margin-top: 10px;
    z-index: -1;
    left: 50%;
    transform: translate(50%, 0);
    width:50%;
    height:auto;
    margin-bottom: 20px;
}
#Main {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    min-height: 100vh;
    height: fit-content;
    /*background-image: radial-gradient(circle at center, rgb(255, 0, 85) 0, rgb(189, 28, 82) 110%);
    border: 2px solid rgb(104, 10, 41);*/
    width: fit-content;
    padding: 0 0;
    margin: 0px auto;
}
#Main::after {
    content: '';
    width: 103%;
    height: 100%;
    overflow: hidden;
    background-image: linear-gradient(180deg , rgba(0,0,0,0),rgba(0,0,0,0.4));
    position: absolute;
    top:0;
    left: -10px;
    filter:blur(10px)
}
#Output {
    width: 560px;
}
#Center {
    position: relative;
    z-index: 1;
    margin-top: 100px;
    width: 560px;
    margin: auto;
    align-items: center;
}
#name {
    font-size: 20px;
    background-color: white;
    border: none;
    color: rgb(89, 89, 89);
    height: 92%;
    width: 250px;
    border: 2px solid black;
}
#Button {
    font-size: 20px;
    font-weight: bold;
    color:white;
    height: 100%;
    width: 80px;
    background-color: rgb(71, 54, 52);
    border: 2px solid black;
}
#ColorIndicator {
    background-color: rgba(255, 0, 85,0.3);
    border: 4px solid white;
    border-radius: 5px;
    width: 50%;
    padding: 20px;
    margin: auto;
    margin-top: 50px;
}
#autocomplete {
    position:relative;
    z-index: 8;
    /*the container must be positioned relative:*/
    border: 3px solid black;
    margin-bottom: 20px;
    height: 70px;
    width: fit-content;
    margin: auto;
    display: inline-block;
    left: 50%;
    transform: translate(-50%, 0);
}
.autocomplete-items {
    position: absolute;
    border: 3px solid #000000;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
}
.autocomplete-items div {
    position:relative;
    padding: 20px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}
.autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: #e9e9e9;
}
.autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: rgb(78, 85, 93) !important;
    color: #ffffff;
}

#Menu {
    background-color: rgba(255, 0, 85,0.7);
    border: 4px solid white;
    border-radius: 10px;
    width: 50%;
    padding: 20px;
    margin: auto;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

#Dropdown {
    font-size: 14px;
    font-weight: bold;
    background-color: rgb(71, 54, 52);
    border-radius: 10px;
    color:white;
    height: 40px;
    width: 250px;
    border: 2px solid black;
    margin: auto;
}

/* The switch - the box around the slider */
#Switch {
    font-size: 18px;
    font-weight: bold;
    color:white;
    border-radius: 10px;
    height: 40px;
    width: 250px;
    background-color: rgb(71, 54, 52);
    border: 2px solid black;
    margin: auto;
    padding: auto 0;
}
#Button:hover {
    background-color: rgb(48, 37, 36);
}
#Dropdown:hover {
    background-color: rgb(48, 37, 36);
}
#Switch:hover {
    background-color: rgb(48, 37, 36);
}

#Reset {
    position: relative;
    border: 3px solid black;
    background-color: rgb(71, 54, 52);
    margin-bottom: 20px;
    height: 70px;
    width: 250px;
    font-size: 20px;
    font-weight: bold;
    color:white;
    margin: auto;
    left: 50%;
    transform: translate(-50%, 0);
}
